<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
  <conversionRule conversionWord="X-B3-TraceId" converterClass="kamon.instrumentation.logback.tools.TraceIDConverter"/>
  <conversionRule conversionWord="X-B3-SpanId" converterClass="kamon.instrumentation.logback.tools.SpanIDConverter" />

  <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <version/>
        <message/>
        <loggerName/>
        <threadName/>
        <logLevel/>
        <mdc/>
        <stackTrace />
      </providers>
    </encoder>
  </appender>

  <logger name="akka" level="ERROR" />

  <root level="INFO">
    <appender-ref ref="json"/>
  </root>
</configuration>
